:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #5b7df9;
  text-decoration: inherit;
}

  a:hover {
    color: #f4e737;
  }

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  text-align: center;
}

ul {
  list-style-type:none;
  padding: 0;
  margin: 0;
}

input {
  width: 200px;
  height: 36px;
  margin-right: 20px;
}

form {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  border: 2px solid;
  border-radius: 7px;
  border-color: #8a8a8a;
  width: 440px;
  padding: 20px;
  margin: 20px auto;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 1em;
  font-weight: 800;
  background-color:rgb(52, 52, 52);
  cursor: pointer;
  color: #5b7df9;
}

button:hover {
 color:#f4e737;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
